[submodule "MG-GAN"]
	path = submodules/models/MG-GAN
	url = https://github.com/dendorferpatrick/MG-GAN.git
[submodule "TrackEval"]
	path = submodules/evaluation_code/TrackEval
	url = https://github.com/dendorferpatrick/TrackEval.git
[submodule "AdaBins"]
	path = submodules/depth_estimator/AdaBins
	url = https://github.com/VladimirYugay/AdaBins
