[submodule "MG-GAN"]
	path = submodules/MG-GAN
	url = https://github.com/dendorferpatrick/MG-GAN.git
[submodule "TrackEval"]
	path = submodules/TrackEval
	url = https://github.com/dendorferpatrick/TrackEval.git
[submodule "AdaBins"]
	path = submodules/AdaBins
	url = https://github.com/VladimirYugay/AdaBins
[submodule "detectron2"]
	path = submodules/detectron2
	url = https://github.com/facebookresearch/detectron2.git
[submodule "reID"]
	path = submodules/reID
	url = https://github.com/KaiyangZhou/deep-person-reid.git
